// Color
$red-pantone: #f2022eff;
$rich-black: #011627ff;
$aerospace-orange: #fd5200ff;
$pear: #dced31ff;
$mulberry: #cb429fff;

// Breakpoint

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-monrope: 'Manrope', sans-serif;;
$font-monoton: 'Ysabeau SC', sans-serif;

;